<div id="hero">
  <div>
    <h1>Social Eyes</h1>
    <p>
      Generate an instant homepage based on your YouTube channel.
    </p>
    <p>
      <%= link("Get started!", to: Routes.pow_assent_authorization_path(MereWeb.Endpoint, :new, "google"), id: "getStarted") %>
    </p>
    <p>
      <a target="_blank" href="https://www.rodeoclash.com">See an example</a>
    </p>
  </div>
</div>
