<nav>
  <%= link(to: Routes.current_user_path(MereWeb.Endpoint, :edit)) do %>
    Profile / Theme
  <% end %>
  <%= link(to: Routes.custom_domain_path(MereWeb.Endpoint, :index)) do %>
    Custom Domain
  <% end %>
  <a class="publicProfile" target="_blank" {[href: MereWeb.SharedView.user_url(@current_user)]}>
    View your site
  </a>
</nav>
