#app {
  display: flex;
}

#app aside {
  padding: 1rem;
  width: 10rem;
  background: #fff;
}

#app aside h1 {
  text-align: center;
  margin-top: 0;
}

#app aside nav {
  display: flex;
  flex-direction: column;
}

#app aside nav a {
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  text-decoration: none;
  font-size: 0.9rem;
}

#app aside nav a:hover {
  color: rgba(0, 0, 0, 0.75);
}

#app aside nav .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

#app aside nav .icon svg {
  display: block;
  width: 2rem;
}

#app main {
  padding: 1rem;
  box-sizing: border-box;
  min-height: calc(100vh - 4rem);
}

#app main #pageTitle {
  margin-top: 0;
}
