#marketing {
  display: flex;
  height: calc(100vh) - 4rem;
  align-items: center;
  justify-content: center;
}

#hero h1 {
  font-size: 5rem;
  margin: 1rem 0;
}

#hero h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 -1rem 0;
}

#hero p {
  margin: 2rem 0;
}

#hero {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#gotoDashboard {
  background-color: #222;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.7;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: 20rem;
}

#gotoDashboard:hover,
#gotoDashboard:focus {
  opacity: 0.75;
}

#getStartedGoogle img {
  width: 16rem;
  display: block;
  margin: 0 auto;
}

#hero #about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 -2rem;
  margin-top: 5rem;
}

#hero #about > * {
  margin: 0 2rem;
  max-width: 20rem;
  text-align: left;
}
