<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>
      <%= @user.slug %>
    </title>

    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/user.css")}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <script defer type="text/javascript" src={Routes.static_path(@conn, "/assets/user.js")}></script>
  </head>
  <body>
    <main>
      <%= @inner_content %>
    </main>
  </body>
</html>
